// 1. Base
@use 'base/variables';
@use 'base/global';

// 2. Components
@use 'components/toolbar';
@use 'components/handle';
@use 'components/card';
@use 'components/context-menu';

// 3. Pages / Layout
@use 'pages/dashboard';
@use 'pages/settings';
@use 'pages/welcome';